<!-- {% extends 'base.html' %}
{% block content %}
Heading removed as requested
<form method="post">
  <fieldset>
    <legend>Client 1</legend>
    <label>Name</label>
    <input type="text" name="name1" />
    <label>Email</label>
    <input type="email" name="email1" required />
    <label>Password</label>
    <input type="password" name="password1" required />
    <label>Phone</label>
    <input type="text" name="phone1" />
    <label>Address</label>
    <input type="text" name="address1" />
  </fieldset>
  <fieldset style="margin-top:1rem;">
    <legend>Client 2 (optional)</legend>
    <label>Name</label>
    <input type="text" name="name2" />
    <label>Email</label>
    <input type="email" name="email2" />
    <label>Password</label>
    <input type="password" name="password2" />
    <label>Phone</label>
    <input type="text" name="phone2" />
    <label>Address</label>
    <input type="text" name="address2" />
  </fieldset>
  <div style="margin-top:1rem;">
    <button class="button-primary" type="submit">Register Clients</button>
    <a href="{{ url_for('judge.dashboard') }}" class="button-secondary">Cancel</a>
  </div>
</form>
{% endblock %} -->
